<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Aljiza Tua</span>
</div>

<div class="content" role="main">
  <h1> {{title}} </h1>  
</div>

<div class="terminal">
  <p> Iron Man: Hello</p>
  <p> Aljiza: Hi</p>
</div>

<app-heroes-lists></app-heroes-lists>
<app-item-details (newItemEvent)="addItem($event)"></app-item-details>

<div class="container">
  <div class="hero-details">
    <ul>
      <li *ngFor="let item of items">
        {{item}}
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
